<h1 class="text-center mb-4">Productos</h1>

<div class="row">
  {{#each products}}
    <div class="col-md-4 mb-4">
      <div class="card h-100 shadow-sm">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">{{this.title}}</h5>
          <p class="card-text">{{this.description}}</p>
          <p class="card-text"><strong>Precio:</strong> ${{this.price}}</p>
          <p class="card-text"><strong>Categoría:</strong> {{this.category}}</p>
          <p class="card-text"><strong>Stock:</strong> {{this.stock}}</p>

          <div class="mt-auto">
            <a href="/products/{{this._id}}" class="btn btn-outline-primary btn-sm me-2">Ver detalles</a>
            <form action="/api/carts/68c9b06bd3267b2a84358ae3/product/{{this._id}}" method="POST">
  <button type="submit" class="btn btn-sm btn-primary">Agregar al carrito</button>
</form>
          </div>
        </div>
      </div>
    </div>
  {{/each}}
</div>

<!-- Paginación -->
<nav class="mt-4 text-center">
  {{#if pagination.hasPrevPage}}
    <a href="/products?page={{pagination.prevPage}}&limit=10{{#if pagination.sort}}&sort={{pagination.sort}}{{/if}}{{#if pagination.query}}&query={{pagination.query}}{{/if}}" class="btn btn-outline-primary">Anterior</a>
  {{/if}}

  <span class="mx-2">Página {{pagination.page}} de {{pagination.totalPages}}</span>

  {{#if pagination.hasNextPage}}
    <a href="/products?page={{pagination.nextPage}}&limit=10{{#if pagination.sort}}&sort={{pagination.sort}}{{/if}}{{#if pagination.query}}&query={{pagination.query}}{{/if}}" class="btn btn-outline-primary">Siguiente</a>
  {{/if}}
</nav>
