
<h1>Productos en Tiempo Real</h1>


<form id="productForm">
<input type="text" name="title" placeholder="Título" required>
<input type="text" name="description" placeholder="Descripción" required>
<input type="text" name="code" placeholder="Código" required>
<input type="number" name="price" placeholder="Precio" required>
<input type="number" name="stock" placeholder="Stock" required>
<input type="text" name="category" placeholder="Categoría" required>
<button type="submit">Agregar Producto</button>
</form>


<ul id="productList">
{{#each products}}
<li id="product-{{this.id}}">
<strong>{{this.title}}</strong> - {{this.description}} - ${{this.price}} - Stock: {{this.stock}}
<button onclick="deleteProduct('{{this.id}}')">Eliminar</button>
</li>
{{/each}}
</ul>


<script src="/socket.io/socket.io.js"></script>
<script src="/js/realtime.js"></script>